<div class="state-field-group">
    <app-drone-state-field>
        <span label>Pitch</span>
        <span value>{{ droneState?.pitch }}</span>
        <span unit>deg</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Roll</span>
        <span value>{{ droneState?.roll }}</span>
        <span unit>deg</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Yaw</span>
        <span value>{{ droneState?.yaw }}</span>
        <span unit>deg</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>X speed</span>
        <span value>{{ droneState?.speedX }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Y speed</span>
        <span value>{{ droneState?.speedY }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Z speed</span>
        <span value>{{ droneState?.speedZ }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>X acceleration</span>
        <span value>{{ droneState?.accelerationX }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Y acceleration</span>
        <span value>{{ droneState?.accelerationY }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Z acceleration</span>
        <span value>{{ droneState?.accelerationZ }}</span>
    </app-drone-state-field>
</div>

<div class="state-field-group">
    <app-drone-state-field>
        <span label>Battery level</span>
        <span value>{{ droneState?.battery }}</span>
        <span unit>%</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>TOF distance</span>
        <span value>{{ droneState?.tofDistance }}</span>
        <span unit>cm</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Height</span>
        <span value>{{ droneState?.height }}</span>
        <span unit>cm</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Motortime</span>
        <span value>{{ droneState?.motorTime }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Barometer</span>
        <span value>{{ droneState?.barometer }}</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Temp low</span>
        <span value>{{ droneState?.tempLow }}</span>
        <span unit>°C</span>
    </app-drone-state-field>

    <app-drone-state-field>
        <span label>Temp high</span>
        <span value>{{ droneState?.tempHigh }}</span>
        <span unit>°C</span>
    </app-drone-state-field>
</div>

